.signin-page{
    display: flex;
    justify-content: center;
    padding-left:20px;
    width: 300px;
    border: 2px;
    border-style: solid;
    padding-bottom: 10px;
}

.top{
    display: inline-block;
    justify-content: space-between;
}

.signup-page{
    display: flex;
    justify-content: center;
    padding-left:20px;
    width: 300px;
    border: 2px;
    border-style: solid;
    padding-bottom: 10px;
}