.showtask{
    background-color: rgb(179, 238, 238);
    display: flex;
    justify-content: center;
    width: 80%;
}

.box12{
    background-color: brown;
}

.elements{
    display: inline-block;
}

.display{
    margin: 30px;
}

   